@charset "UTF-8";

:root {
	--f-family-title: 'Caveat', 'Noto Serif TC', serif;
	--f-family: 'Noto Serif TC', 'Playfair Display', serif;
	--font-size:calc(2rem * 1080/ 1920);;
}

html{
	overflow-x: hidden;
}

header {
	font-size: calc(3rem * 1080/ 1920);
	height: calc(90px * 1080/ 1920);
	font-family: var(--f-family-title);
}

body {
	background-color: rgb(217, 217, 217);
	font-family: var(--f-family);
	font-size: var(--font-size);	
}

main {
	padding: calc(90px * 1080/ 1920) 0 calc(80px * 1080/ 1920) 0;
	font-size: calc(2rem * 1080/ 1920);
}

footer {
	font-size: calc(25px * 1080/ 1920);
	height: calc(80px * 1080/ 1920);
}

.account {
	display: block;
	color: white;
}

.account:hover {
	color: blue;
}

.back {
	color: white;
	display: none;
}

.back:hover {
	color: blue;
}

/* 分隔線 */
.gradient_line {
	height: 1px;
	width: 100%;
	border: 0;
	background: linear-gradient(to right, rgb(255, 172, 172, 0.5), rgb(255, 89, 89),
		rgb(0, 240, 0), rgb(0, 0, 240), rgb(176, 176, 255, 0.5));
}

.chart_title{
	font-size: calc(40px * 1080/ 1920);
}